*{
margin:0;
padding:0;
box-sizing:border-box;
}

html{
scroll-behavior:smooth;
}

body{

font-family:
Inter,
sans-serif;

background:#050816;

color:white;

overflow-x:hidden;

}

img{

display:block;
width:100%;

}

a{

text-decoration:none;
color:inherit;

}

button{

border:none;
outline:none;
cursor:pointer;

font-family:inherit;

}

.container{

max-width:1200px;

margin:auto;

padding:0 40px;

}

section{

padding:120px 0;

}