.contact{

text-align:center;

}

.contact p{

margin:30px 0;

color:#b6bdd1;

}

.contact-btn{

display:inline-block;

padding:18px 45px;

background:#6366F1;

border-radius:14px;

color:white;

font-weight:600;

transition:.3s;

}

.contact-btn:hover{

transform:translateY(-6px);

}