.navbar{
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:86px;

    display:flex;
    align-items:center;

    background:rgba(7,11,23,.82);
    backdrop-filter:blur(22px);
    -webkit-backdrop-filter:blur(22px);

    border-bottom:1px solid rgba(255,255,255,.06);

    z-index:1000;
    transition:all .35s ease;
}

.nav-container{
    display:flex;
    justify-content:space-between;
    align-items:center;
    width:100%;
}

/* ==========================
          LOGO
========================== */

.logo{
    display:flex;
    align-items:center;
    justify-content:center;
    text-decoration:none;
}

.logo img{

    width:64px;
    height:64px;

    object-fit:contain;

    transition:
    transform .35s ease,
    filter .35s ease;

    filter:
    drop-shadow(0 0 12px rgba(99,102,241,.18));

}

.logo:hover img{

    transform:
    scale(1.12)
    rotate(-3deg);

    filter:
    drop-shadow(0 0 22px rgba(99,102,241,.55));

}

/* ==========================
        NAVIGATION
========================== */

.nav-links{

    display:flex;
    align-items:center;

    gap:42px;

    list-style:none;

}

.nav-links a{

    position:relative;

    color:#CBD5E1;

    font-size:16px;

    font-weight:500;

    letter-spacing:.3px;

    transition:.3s ease;

}

.nav-links a:hover{

    color:#ffffff;

}

.nav-links a::after{

    content:"";

    position:absolute;

    left:50%;
    bottom:-10px;

    width:0;
    height:2px;

    border-radius:5px;

    background:linear-gradient(
        90deg,
        #6366F1,
        #8B5CF6
    );

    transition:.35s ease;

    transform:translateX(-50%);

}

.nav-links a:hover::after{

    width:100%;

}

/* ==========================
        Responsive
========================== */

@media (max-width:900px){

    .navbar{
        height:78px;
    }

    .logo img{
        width:54px;
        height:54px;
    }

    .nav-links{
        display:none;
    }

}