.project-hero{
    padding:120px 0 80px;
    background:#050816;
}

.hero-grid{
    display:grid;
    grid-template-columns:1fr 1fr;
    gap:60px;
    align-items:center;
}

.hero-category{
    display:inline-block;
    padding:8px 18px;
    border-radius:50px;
    background:rgba(99,102,241,.15);
    color:#7C83FF;
    font-weight:600;
    margin-bottom:20px;
}

.hero-content h1{
    font-size:52px;
    color:#fff;
    line-height:1.2;
    margin-bottom:25px;
}

.hero-content p{
    color:#CBD5E1;
    line-height:1.9;
    font-size:17px;
}

.hero-info{
    display:grid;
    grid-template-columns:repeat(2,1fr);
    gap:20px;
    margin-top:40px;
}

.hero-info div{
    background:#111827;
    border:1px solid rgba(255,255,255,.08);
    border-radius:16px;
    padding:20px;
}

.hero-info h4{
    color:#8B5CF6;
    margin-bottom:8px;
}

.hero-info span{
    color:#CBD5E1;
}

.hero-image img{
    width:100%;
    background:#fff;
    border-radius:22px;
    padding:20px;
    box-shadow:0 20px 45px rgba(0,0,0,.35);
}

@media(max-width:900px){

.hero-grid{
    grid-template-columns:1fr;
}

.hero-content h1{
    font-size:40px;
}

.hero-info{
    grid-template-columns:1fr 1fr;
}

}

@media(max-width:600px){

.hero-info{
    grid-template-columns:1fr;
}

.hero-content h1{
    font-size:34px;
}

}