.userflow-card{
    max-width:900px;
    margin:auto;
    background:#111827;
    border:1px solid rgba(255,255,255,.08);
    border-radius:20px;
    padding:35px;
    transition:.35s;
}

.userflow-card:hover{
    border-color:#6366F1;
    transform:translateY(-5px);
}

.userflow-card p{
    color:#CBD5E1;
    font-size:17px;
    line-height:1.9;
}