.footer{
    background:#050816;
    border-top:1px solid rgba(255,255,255,.06);
    padding:60px 0 35px;
}

.footer-content{
    display:flex;
    justify-content:space-between;
    align-items:center;
    gap:50px;
}

.footer-left{
    display:flex;
    flex-direction:column;
    align-items:flex-start;
}

/* ================= Logo ================= */

.footer-logo{
    width:90px;
    height:90px;
    object-fit:contain;
    display:block;

    margin-bottom:18px;

    transition:all .35s ease;

    filter:
    drop-shadow(0 0 12px rgba(99,102,241,.22));
}

.footer-logo:hover{

    transform:
    scale(1.08)
    rotate(-4deg);

    filter:
    drop-shadow(0 0 20px rgba(99,102,241,.45));

}

/* ================= Text ================= */

.footer-text{

    max-width:430px;

    color:#B8C1D9;

    font-size:16px;

    line-height:1.8;

    margin-bottom:14px;

}

.copyright{

    color:#7D8597;

    font-size:14px;

    letter-spacing:.3px;

}

/* ================= Button ================= */

.back-top{

    width:56px;
    height:56px;

    border-radius:50%;

    display:flex;
    justify-content:center;
    align-items:center;

    background:linear-gradient(
        135deg,
        #6366F1,
        #8B5CF6
    );

    color:#fff;

    font-size:19px;

    transition:.35s;

    box-shadow:
    0 12px 28px rgba(99,102,241,.25);

}

.back-top:hover{

    transform:translateY(-8px);

    box-shadow:
    0 20px 40px rgba(99,102,241,.45);

}

/* ================= Responsive ================= */

@media(max-width:768px){

.footer-content{

flex-direction:column;

text-align:center;

gap:35px;

}

.footer-left{

align-items:center;

}

.footer-text{

max-width:100%;

}

}